<!DOCTYPE html>
<html  ng-app="ngapp" ng-controller="MainController"><!--<![endif]-->

<!-- Specific Page Data -->
<!-- End of Data -->
<head>

    <title ng-bind="page.title">{% block title %}Proevend{% endblock %}</title>
    {% block metadata %}
        <meta charset="iso-8859-1"/>
        <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, "/>
        <meta name="description" content="Responsive Admin Template for multipurpose use">
        <meta name="author" content="Venmond">

        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block stylesheet %}
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('img/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('img/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('img/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('img/ico/apple-touch-icon-57-precomposed.png') }}">
        <link rel="shortcut icon" href="{{ asset('img/ico/favicon.png') }}">


        <!-- CSS -->


        <!-- Bootstrap & FontAwesome & Entypo CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!--[if IE 7]>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/font-awesome-ie7.min.css') }}"><![endif]-->
        <link href="{{ asset('css/font-entypo.css') }}" rel="stylesheet" type="text/css">

        <!--Bootstrap Alpha-->
        <link rel="stylesheet" href="{{ asset('plugins/tether/css/tether.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/tether/css/tether-theme-arrows.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/tether/css/tether-theme-arrows-dark.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/tether/css/tether-theme-basic.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap-alpha/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap-alpha/css/bootstrap-grid.css') }}">

        <!-- Fonts CSS -->
        <link href="{{ asset('css/fonts.css') }}" rel="stylesheet" type="text/css">

        <!-- Plugin CSS -->
        <link href="{{ asset('plugins/jquery-ui/jquery-ui.custom.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/prettyPhoto-plugin/css/prettyPhoto.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/isotope/css/isotope.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/pnotify/css/jquery.pnotify.css') }}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/google-code-prettify/prettify.css') }}" rel="stylesheet" type="text/css">


        <link href="{{ asset('plugins/mCustomScrollbar/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/tagsInput/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/bootstrap-switch/bootstrap-switch.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/bootstrap-timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/colorpicker/css/colorpicker.css') }}" rel="stylesheet" type="text/css">

        <!-- Specific CSS -->


        <!-- Theme CSS -->
        <link href="{{ asset('css/theme.min.css') }}" rel="stylesheet" type="text/css">
        <!--[if IE]>
        <link href="{{ asset('css/ie.css') }}" rel="stylesheet"> <![endif]-->
        <link href="{{ asset('css/chrome.css') }}" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->
        <link rel="stylesheet" href="{{ asset('plugins/datepicker/css/bootstrap-datepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/datepicker/css/bootstrap-datepicker3.min.css') }}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('plugins/codemirror/codemirror.css') }}">

        <link href="{{ asset('css/theme-responsive.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap-notify/animate.css') }}">


        <!-- for specific page in style css -->

        <!-- for specific page responsive in style css -->


        <!-- Custom CSS -->
        <link href="{{ asset('custom/custom.css') }}" rel="stylesheet" type="text/css">


        
    {% endblock %}

    {% block javascript %}
        <!-- Head SCRIPTS -->
        <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap-notify/bootstrap-notify.js') }}" type="text/javascript"></script>
        <script src="{{ asset('plugins/bootstrap-notify/highlight.min.js') }}"></script>


        <script type="text/javascript" src="{{ asset('js/modernizr.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/mobile-detect.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/mobile-detect-modernizr.js') }}"></script>
        <script src="{{ asset('plugins/tether/js/tether.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('plugins/bootstrap-alpha/js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('plugins/autosize-master/autosize.min.js') }}"></script>


        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('js/excanvas.js') }}"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/jquery-ui/jquery-ui.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/caroufredsel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>

        <script type="text/javascript" src="{{ asset('plugins/breakpoints/breakpoints.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/dataTables/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js') }}"></script>

        <script type="text/javascript" src="{{ asset('plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/tagsInput/jquery.tagsinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/bootstrap-switch/bootstrap-switch.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/blockUI/jquery.blockUI.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/pnotify/js/jquery.pnotify.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/theme.js') }}"></script>
        <script type="text/javascript" src="{{ asset('custom/custom.js') }}"></script>

        <!-- Specific Page Scripts Put Here -->
        <script type="text/javascript" src="{{ asset('plugins/google-code-prettify/prettify.js') }}"></script>
        <script src="{{ asset('plugins/codemirror/codemirror.js') }}"></script>
        <script src="{{ asset('plugins/datepicker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('plugins/datepicker/locales/bootstrap-datepicker.es.min.js') }}"></script>

        <!-- Angular SCRIPTS -->
        <script src="{{ asset('plugins/angularjs/angular.min.js') }}"></script>
        <script src="{{ asset('plugins/angularjs/angular-animate.min.js') }}"></script>
        <script src="{{ asset('plugins/angularjs/angular-sanitize.min.js') }}"></script>
        <script src="{{ asset('plugins/angularjs/angular-route.min.js') }}"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('js/html5shiv.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->

        <!-- Specific Page Scripts Put Here -->
        <script type="text/javascript" src="{{ asset('plugins/flot/jquery.flot.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/flot/jquery.flot.resize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/flot/jquery.flot.pie.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/flot/jquery.flot.categories.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/flot/jquery.flot.time.min.js') }}"></script>


        <!-- Sync NG Scripts -->
        <script src="{{ asset('Sync-ng/_data.js') }}"></script>
        <script src="{{ asset('Sync-ng/_preforms.js') }}"></script>
        <script src="{{ asset('Sync-ng/_services.js') }}"></script>
        <script src="{{ asset('Sync-ng/_functions.js') }}"></script>
        <script src="{{ asset('Sync-ng/_init.js') }}"></script>
        <script src="{{ asset('Sync-ng/_config.js') }}"></script>
        <script src="{{ asset('Sync-ng/_controllers.js') }}"></script>

    {% endblock %}
    {% block angular %}
    {% endblock %}

</head>


<body id="skin"
      class="full-layout  nav-right-hide nav-right-start-hide nav-left-fixed  responsive content-style-2   clearfix"
      data-active="skin " data-smooth-scrolling="1">
{% block body %}

{% endblock %}





</body>
</html>